<header>
    <nav>
        <a href="/website-jung/startseite.php">Startseite</a>
        <a href="/website-jung/ueberuns.php">Über uns</a>
        <a href="/website-jung/kontakt.php">Kontakt</a>
        <a href="/website-jung/todo.php">ToDo-Liste</a>
    </nav>
</header>