{% extends "layout.html.twig" %}

{% block content %}
    <h1>Willkommen auf der Startseite</h1>
    <p>Hier finden Sie die neuesten Informationen und Angebote.</p>
    <img class="featured" src="images/blume.jpg" alt="Blume" />
{% endblock %}
